---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?cnt=7&mode=json&q=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.0064,"city":{"id":"5419384","name":"","coord":{"lon":-104.992,"lat":39.74},"country":"United States of America","population":0},"cnt":7,"list":[{"dt":1399485600,"temp":{"day":287.44,"min":276.46,"max":287.44,"night":276.46,"eve":286.52,"morn":278.37},"pressure":828.81,"humidity":54,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":5.51,"deg":91,"clouds":0,"rain":1},{"dt":1399572000,"temp":{"day":282.23,"min":274.82,"max":282.23,"night":276.73,"eve":280.28,"morn":274.82},"pressure":834.94,"humidity":76,"weather":[{"id":501,"main":"Rain","description":"moderate rain","icon":"10d"}],"speed":3.97,"deg":94,"clouds":12,"rain":5},{"dt":1399658400,"temp":{"day":287.21,"min":271.53,"max":288.23,"night":279.79,"eve":288.23,"morn":271.53},"pressure":807.24,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":3.56,"deg":[...]
